* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#bulb {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 4px solid #000;
    margin: 40px;
}

button {
    padding: 10px 50px;
    font-size: 30px;
    font-style: bold;
    margin: 70px;
}

/* h1{
    font-size: 40px;
    font-weight: 600;
} */

/* ----------------xxxxx--------------- */